---
layout: subpage
title: CSSclasses – ABOUT US
---

<section>
  <h1>About</h1>
  <p>CSSclasses is for beginners and experts alike: Using CSS as a simple and low-barrier entry language, we empower people to understand their browser and to learn how to experiment with code. Workshop and hackathon in one event.</p>

  {% if site.data.teams.berlin %}
    <h2>Berlin</h2>

    {% include introduction-city.html city="Berlin" countryCode="de" text="
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.
    " %}

    <h3>Team</h3>

    <div class="flex-row">
      {% for member in site.data.teams.berlin %}
        {% include team-element.html name=member.name image-file-name=member.image-file-name twitter=member.twitter github=member.github website=member.website %}
      {% endfor %}
    </div>
  {% endif %}

  {% if site.data.coaches.berlin %}
    <h3>Coaches</h3>
    <ul>
      {% for coach in site.data.coaches.berlin %}
        <li>
          {% include coaches-element.html name=coach.name twitter=coach.twitter github=coach.github %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if site.data.teams.hamburg %}
    <h2>Hamburg</h2>

    {% include introduction-city.html city="Hamburg" countryCode="de" text="
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.
    " %}

    <h3>Team</h3>
    <div class="flex-row">
      {% for member in site.data.teams.hamburg %}
        {% include team-element.html name=member.name image-file-name=member.image-file-name twitter=member.twitter github=member.github website=member.website %}
      {% endfor %}
    </div>
  {% endif %}

  {% if site.data.coaches.hamburg %}
    <h3>Coaches</h3>

    <ul>
      {% for coach in site.data.coaches.hamburg %}
        <li>
          {% include coaches-element.html name=coach.name twitter=coach.twitter github=coach.github %}
        </li>
    {% endfor %}
    </ul>
  {% endif %}


</section>

<script src="/vendor/js/reqwest.min.js"></script>
<script src="/vendor/js/strftime-min.js"></script>
<script src="/assets/js/next-meetup-for-city.js"></script>