<footer class="page-footer l-width-full">
  <div class="l-width-content">
    <ul class="list-simple">
      <li class="list-simple__el--is-horizontal"><a class="page-footer__a" href="mailto:contact@cssconf.eu">contact@cssconf.eu</a></li>
      <li class="list-simple__el--is-horizontal"><a class="icon-only icon-twitter" href="https://twitter.com/cssclasses" target="blank">Twitter</a></li>
      <li class="list-simple__el--is-horizontal"><a class="icon-only icon-github" href="https://github.com/cssconf/CSSclasses" target="_blank">GitHub</a></li>
    </ul>
    <p class="page-footer__p">Made with <3 from the community, for the community.<br>We protect you with our <a class="page-footer__a" href="/code-of-conduct/">Code of Conduct.</a></p>
  </div>
</footer>
