<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.url }}/favicon-200x200.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/apple-touch-icon-57x57.png?v=lkkaaLQvvl">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/apple-touch-icon-60x60.png?v=lkkaaLQvvl">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/apple-touch-icon-72x72.png?v=lkkaaLQvvl">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/apple-touch-icon-76x76.png?v=lkkaaLQvvl">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/apple-touch-icon-114x114.png?v=lkkaaLQvvl">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/apple-touch-icon-120x120.png?v=lkkaaLQvvl">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/apple-touch-icon-144x144.png?v=lkkaaLQvvl">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon-152x152.png?v=lkkaaLQvvl">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon-180x180.png?v=lkkaaLQvvl">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png?v=lkkaaLQvvl" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-194x194.png?v=lkkaaLQvvl" sizes="194x194">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-96x96.png?v=lkkaaLQvvl" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/android-chrome-192x192.png?v=lkkaaLQvvl" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png?v=lkkaaLQvvl" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json?v=lkkaaLQvvl">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?v=lkkaaLQvvl">
  <meta name="msapplication-TileColor" content="#3d3e3e">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=lkkaaLQvvl">
  <meta name="theme-color" content="#ffffff">

  <script>
    (function(){
        function addFont() {
            var style = document.createElement('style');
            style.rel = 'stylesheet';
            document.head.appendChild(style);
            style.textContent = localStorage.sourceSansPro;
        }
        try {
            if (localStorage.sourceSansPro) {
                addFont();
            } else {
                var request = new XMLHttpRequest();
                request.open('GET', '/css/fonts/data-woff.css', true);

                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        localStorage.sourceSansPro = request.responseText;
                        addFont();
                    }
                };
                request.send();
            }
        } catch(ex) {
      }
    }());
  </script>
  <script src="{{ site.baseurl }}/assets/js/highlight.pack.js"></script>
  <script src="{{ site.baseurl }}/assets/js/switch.js"></script>
  <script src="{{ site.baseurl }}/assets/js/scrollMenu.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="{{ site.baseurl }}/vendor/js/snap.svg-min.js"></script>
</head>
