<!--script src="/vendor/js/reqwest.min.js"></script>
<script src="/vendor/js/strftime-min.js"></script>
<script src="/assets/js/upcoming-events.js"></script>

<section id="upcoming-events" class="is-hidden"-->
<section id="upcoming-events">
  <h1>Join our next events!</h1>
  <ul id="upcoming-events-list">
    <li>
      <ul class="list-simple">
        <li class="list-simple__el">
          <strong>When:</strong>
          Saturday, December 12th, 10am - ca. 6pm
        </li>
        <li class="list-simple__el">
          <strong>Where:</strong>
          <a href="http://www.meetup.com/opentechschool-berlin/events/226676875/">Wimdu GmbH, Voltastrasse 5, 13355 Berlin</a>
        </li>
      </ul>
    </li>
  </ul>
  <p>For updates when to register: <a href="https://twitter.com/{{ site.twitter_username }}" class="btn" target="_blank">Follow @{{ site.twitter_username }}</a></p>
  <hr>
</section>
