<div class="user">
  <img class="user__img" src="{{ site.baseurl }}/assets/images/team/aniko-fejes.jpg" alt="">
  <div class="user-data">
    <span class="user__text delta">Anikó Fejes</span>
    <ul class="list-simple user__list">
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-twitter" href="https://twitter.com/hubudibu" target="_blank">Twitter</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-github" href="https://github.com/hubudibu" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</div>
<div class="user">
  <img class="user__img" src="{{ site.baseurl }}/assets/images/team/levente-kiraly.jpg" alt="">
  <div class="user-data">
    <span class="user__text delta">Levente Király</span>
    <ul class="list-simple user__list">
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-twitter" href="https://twitter.com/leventekk" target="_blank">Twitter</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-github" href="https://github.com/leventekk" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</div>
<div class="user">
  <img class="user__img" src="{{ site.baseurl }}/assets/images/team/tamas-puski.jpg" alt="">
  <div class="user-data">
    <span class="user__text delta">Tamás Püski</span>
    <ul class="list-simple user__list">
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-twitter" href="https://twitter.com/tpuski" target="_blank">Twitter</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-github" href="https://github.com/tpuski" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</div>
<div class="user">
  <img class="user__img" src="{{ site.baseurl }}/assets/images/team/gergo-szonyi.jpg" alt="">
  <div class="user-data">
    <span class="user__text delta">Gergő Szőnyi</span>
    <ul class="list-simple user__list">
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-twitter" href="https://twitter.com/szexigexi" target="_blank">Twitter</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-github" href="https://github.com/szexigexi" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</div>
