<div class="user">
  <img class="user__img" src="{{ site.baseurl }}/assets/images/team/schneider-kristina.jpg" alt="">
  <div class="user-data">
    <span class="user__text delta">Kristina Schneider</span>
    <ul class="list-simple user__list">
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-twitter" href="https://twitter.com/kriesse" target="_blank">Twitter</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-github" href="https://github.com/Kriesse" target="_blank">GitHub</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-website" href="http://www.kristinaschneider.com" target="_blank">Website</a>
      </li>
    </ul>
  </div>
</div>
<div class="user">
  <img class="user__img" src="{{ site.baseurl }}/assets/images/team/lorenz-kevin.jpg" alt="">
  <div class="user-data">
    <span class="user__text delta">Kevin Lorenz</span>
    <ul class="list-simple user__list">
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-twitter" href="https://twitter.com/verpixelt" target="_blank">Twitter</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-github" href="https://github.com/verpixelt" target="_blank">GitHub</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-website" href="/" target="_blank">Website</a>
      </li>
    </ul>
  </div>
</div>
<div class="user">
  <img class="user__img" src="{{ site.baseurl }}/assets/images/team/albers-bastian.jpg" alt="">
  <div class="user-data">
    <span class="user__text delta">Bastian Albers</span>
    <ul class="list-simple user__list">
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-twitter" href="https://twitter.com/bastianalbers" target="_blank">Twitter</a>
      </li>
      <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-github" href="https://github.com/bastianalbers" target="_blank">GitHub</a>
      </li>
<!--       <li class="list-simple__el--is-horizontal">
        <a class="icon-only icon-website" href="/" target="_blank">Website</a>
      </li>
 -->    </ul>
  </div>
</div>
