

.page-header {
  background-image: url('../assets/images/bg.header--small.jpg');
  background-size: cover;
  background-position: center center;
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .75em;
  padding-left: $base-unit;
  padding-right: $base-unit;

  @include bp(x) {
    font-size: 1em;
    height: 46.875rem;
    background-image: url('../assets/images/bg.header--medium.jpg');
  }

  @include bp(xx) {
    height: 56.25rem;
    background-image: url('../assets/images/bg.header.jpg');
  }
}

.page-header__logo {
  width: 80%;
  fill: $color-white;
  height: auto;
  display: block;
  margin: 0 auto;

  @include bp(x) { width: 31.25rem; }
}

.page-header__logo-a {
  border-bottom: 0;
  margin-bottom: $base-unit;

  @include bp(x) { margin-bottom: 3 * $base-unit; }

  @include bp(xx) { margin-bottom: 4 * $base-unit; }
}

.page-header__h2 {
  text-align: center;
  color: $color-white;
  max-width: 45rem;
  text-shadow: 0 0 .625rem $color-mine-shaft;
}

.page-header__h2-sub {
  text-transform: initial;
  display: block;
}

.page-header__h3 {
  color: $color-white;
  @extend %small;
}

.page-header__a {
  color: $color-white;
  border-color: $color-white;

  &:visited {
    color: $color-white;
    border-color: $color-white;
  }
}

.page-header__p {
  color: $color-white;
  text-align: center;
  max-width: 45rem;
}

.subpage-header {
  height: 4.5rem;

  @include bp(x) { height: 8rem; }
}

.subpage-header__logo {
  width: 28%;

  @include bp(x) { width: 8.25rem; }
}

.subpage-header__logo-a { margin-bottom: 0; }
