

* { box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

h1,
h2,
h3,
h4,
ul,
ol,
dd,
p,
pre,
table,
fieldset,
hr { margin-top: 0; }

@mixin l-is--centered() {
  margin: 0 auto;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.l-width-full { width: 100%; }

.l-width-extended {
  @include l-is--centered();
  max-width: 75.375rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.l-width-content {
  @include l-is--centered();
  max-width: 46rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;

  @include bp(x) {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  }
}

.l--has-pt { padding-top: 4 * $base-unit;

  @include bp(x) { padding-top: 8 * $base-unit; }
}

.l-container-content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: transform .4s;
  height: 100%;

  &::before {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    content: '';
    opacity: 0;
    transition: opacity .4s, transform 0s .4s;
    transform: translate3d(100%, 0, 0);
  }
}

article {
  padding-bottom: 2 * $base-unit;
  margin-bottom: 4 * $base-unit;
  border-bottom: 1px solid $color-dove-gray;
}

iframe { margin-bottom: 2 * $base-unit; }
