.icon {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;

  &:hover { background-position: 0 -1.6875rem;}
}

.icon-only {
  @extend .icon;
  border-bottom: none;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999em;
}

$icons:(twitter, github, website);
@each $icon in $icons {
  .icon-#{$icon} {background-image: url('../assets/svg/icon-#{$icon}.svg');}
}

.align-bottom {
  float: right;
  vertical-align: bottom;
}

.space-around {
  margin-left: $base-unit;
  margin-right: $base-unit;
}

.is-hidden { display: none; }
