

// MODULE CLASS IS DIFFERENT BC WE CAN'T CHANGE IT
.highlight {
  margin-bottom: 2 * $base-unit;
  position: relative;
}

.language-html:after,
.language-css:after {
  @extend %small;
  bottom: -1.25 * $base-unit;
  color: $color-dove-gray;
  position: absolute;
  right: 0;
}

.language-html:after { content: "HTML"; }

.language-css:after { content: "CSS"; }

pre {
  background-color: $color-white;
  border: .0625rem solid $color-dove-gray;
  border-radius: .1875rem;
  padding: $base-unit;
  word-wrap: normal;
  white-space: pre;
}

pre code { font-size: 1em; }

// COLOR SCHEME = LIGHT !DEFAULT
pre code,
.hljs-tag { color: $color-mine-shaft; }

.hljs-title,
.hljs-attribute,
.hljs-value,
.hljs-class { color: $color-persian-red; }

.hljs-comment { color: $color-dove-gray; }


// COLOR SCHEME = DARK
.highlight.is--dark {

  pre { background-color: $color-mine-shaft; }

  pre code,
  .hljs-tag { color: $color-white; }
}
