.page-footer {
  @extend %sans-serif;
  background-color: $color-mine-shaft;
  border-top: .125rem solid $color-dove-gray;
  color: $color-white;
  font-size: .777777778em;
  line-height: 1.405864198;;
  padding-bottom: 2 * $base-unit;
  padding-top: 2 * $base-unit;
}

.page-footer .icon {
  background-position: 0 -3.375rem;
  height: 1.5rem;
  width: 1.5rem;

  &:hover { background-position: 0 -1.6875rem; }
}

.page-footer__a {
  border-color: $color-white;
  color: $color-white;

  &:visited { 
    border-color: $color-white;
    color: $color-white;
  }
}

.page-footer__p { margin-bottom: 0; }

.page-footer .list-simple { margin-bottom: .25 * $base-unit; }

.page-footer .list-simple__el--is-horizontal:not(:first-child) {
  margin-left: 0;
  vertical-align: middle;
}

.page-footer .list-simple__el--is-horizontal:first-child { margin-right: .5 * $base-unit; }
