

.m-switch {
  $switcher-height: 28px;
  $switcher-width: 60px;
  $switcher-inner-spacing: 1px;
  $switcher-outer-spacing: 1em;
  $thumb-size: $switcher-height - 2 * $switcher-inner-spacing;
  $thumb-way: ($switcher-width - $thumb-size - 2 * $switcher-inner-spacing);

  $thumb-color: $color-white;
  $input-bg-color: $color-persian-red;
  $label-hl-color: $color-persian-red;
  
	position: relative;
	display: inline-flex;
	margin: $switcher-outer-spacing 0;
	user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	&__label {
		z-index: 1;
    line-height: $switcher-height;
		cursor: pointer;
		&:first-of-type {
			padding-right: calc(#{$switcher-outer-spacing} + #{$switcher-width});
		}
		&:last-of-type {
			margin-left: -$switcher-width;
      padding-left: calc(#{$switcher-outer-spacing} + #{$switcher-width});
      
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        display: inline-block;
        width: $thumb-size;
        height: $thumb-size;
        margin-top: $switcher-inner-spacing;
        vertical-align: top;
        border-radius: 50%;
        background-color: $thumb-color;
        transform: translate3d(calc(-50% - #{$thumb-way / 2}), 0px, 0px);
        transition: transform 0.15s ease-in;
      }
		}
	}
	&::after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 50%;
		display: inline-block;
		width: $switcher-width;
		height: $switcher-height;
		border-radius: $switcher-height / 2;
		background-color: $input-bg-color;
    transform: translateX(-50%);
  }  

  &__input {
    display: none;
    &:checked {
      + .m-switch__label {
        z-index: 0;
        color: $label-hl-color;
      }
      &:last-of-type ~ .m-switch__label::before {
        transform: translate3d(calc(-50% + #{$thumb-way / 2}), 0px, 0px);
      }
    }
  }
}



