.upcoming-event {
  @include bp(x) {
    display: flex;
    justify-content: space-between;
  }
}

.upcoming-event__register {
  margin-bottom: 2 * $base-unit;

  @include bp(x) { margin-bottom: 0; }
}
