$module-namespace: 'user';

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -$base-unit;
  margin-right: -$base-unit;
}

.#{$module-namespace} {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  max-width: 180px;
  padding-left: $base-unit;
  padding-right: $base-unit;

  @include bp(x) { flex-basis: 25%; }
}

.#{$module-namespace}__img {
  width: 100%;
  margin-bottom: $base-unit;
}

.#{$module-namespace}__text {
  @extend %sans-serif;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin-bottom: .5 * $base-unit;
}

// COACHES LIST WITH LEADING DOTS
.coach {
  clear: both;

  &:after {
    border-bottom: 3px dotted $color-silver-chalice;
    content: "";
    display: block;
    height: 1em;
    opacity: .25;
    overflow: hidden;
  }
}

.coach__name {
  float: left;
  margin: 0;
  padding: 0 1em 0 0;
}

.coach__links {
  float: right;
  margin: 0;
  padding-left: .5em;
}
